@import "tailwindcss";

@font-face {
  font-family: "EP Sans";
  src:
    url("https://db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.woff")
      format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "EP Sans";
  src:
    url("https://db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.woff")
      format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "EP Sans";
  src:
    url("https://db.onlinewebfonts.com/t/653d9381828e9577fb1e417dc047f89d.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/653d9381828e9577fb1e417dc047f89d.woff")
      format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "EP Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "EP Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

:root {
  --background: #131313;
  --foreground: #e2e2e2;
  --system-dark: #131313;
  --system-white: #e2e2e2;
  --system-gray: #787878;
  --system-dark-gray: #222222;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-ep-sans: "EP Sans", sans-serif;
  --font-ep-gothic: "EP Gothic", sans-serif;
  --color-system-white: var(--system-white);
  --color-system-dark: var(--system-dark);
  --color-system-gray: var(--system-gray);
  --color-system-dark-gray: var(--system-dark-gray);
  --text-size-xl: 1.3rem;
  --text-size-lg: 1.1rem;
  --text-size-md: 0.9rem;
  --text-size-sm: 0.8rem;
  --ep-margin: 0.625rem;
  --ep-margin-s: 0.313rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "EP Sans", "EP Gothic", sans-serif;
}

@layer base {
  ::selection {
    color: #004595;
    background: #77ffe9;
  }
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@utility animate-blink {
  animation: blink 1s step-end infinite;
}
